{{#each contentItem}}
<div class="shop-container__single-item">
<img src="{{img}}" alt="obrazek">
<div class="shop-container__single-item__data">
<p class="single-item__title">{{name}}</p>
<p class="single-item__price">{{price}}</p>
<button class="buy">BUY</button></div>
</div>
{{/each}}
