            
            <div class="shop-container__single-item">
                <img src="./images/pistols/ar15.jpg" alt="obrazek">
                <p class="single-item__desc">Najbardziej rozpowszechniony pistolet z linii Glock 17. Klasyczna obecnie
                    konstrukcja w latach 80' zyskała miano broni XXI wieku. Kaliber: 9x19 Para Długość broni: 204 mm
                    Wysokość: 138 mm Szerokość: 30 mm Długość linii celowania: 165 mm Długość lufy: 114 mm Pojemność
                    magazynka: 17 Waga pistoletu z magazynkiem: 710 g Waga załadowanego pistoletu: 910 g Opór spustu: 28
                    N Droga Spustu: 12,5mm System zabezpieczenia: Safe Action </p>
            </div>
             <div class="shop-container__single-item">
                <img src="./images/pistols/ar15.jpg" alt="obrazek">
                <p class="single-item__desc">Najbardziej rozpowszechniony pistolet z linii Glock 17. Klasyczna obecnie
                    konstrukcja w latach 80' zyskała miano broni XXI wieku. Kaliber: 9x19 Para Długość broni: 204 mm
                    Wysokość: 138 mm Szerokość: 30 mm Długość linii celowania: 165 mm Długość lufy: 114 mm Pojemność
                    magazynka: 17 Waga pistoletu z magazynkiem: 710 g Waga załadowanego pistoletu: 910 g Opór spustu: 28
                    N Droga Spustu: 12,5mm System zabezpieczenia: Safe Action </p>
            </div>

                <div class="shop-container__single-item">
                <img src="./images/pistols/ar15.jpg" alt="obrazek">
                <p class="single-item__desc">Najbardziej rozpowszechniony pistolet z linii Glock 17. Klasyczna obecnie
                    konstrukcja w latach 80' zyskała miano broni XXI wieku. Kaliber: 9x19 Para Długość broni: 204 mm
                    Wysokość: 138 mm Szerokość: 30 mm Długość linii celowania: 165 mm Długość lufy: 114 mm Pojemność
                    magazynka: 17 Waga pistoletu z magazynkiem: 710 g Waga załadowanego pistoletu: 910 g Opór spustu: 28
                    N Droga Spustu: 12,5mm System zabezpieczenia: Safe Action </p>
            </div>
