* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

.background {
    height: 100vh;
    width: 100vw;
    background-image: url('/images/bgimage.jpg');

}

body {
    font-family: 'Space Mono', monospace;
}

/* login and register page */
.choice-panel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.register,
.login {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid white;
    cursor: pointer;

}

.register__button:hover,
.login__button:hover {
    box-shadow: 0px 0px 10px -1px rgba(16, 115, 5, 1);
    border: 2px solid rgba(16, 115, 5, 1)
}

.register__button:hover .register__icon {
    color: rgba(16, 115, 5, 1);

}

.register__button:hover .register__desc {
    color: rgba(16, 115, 5, 1);
}

.login__button:hover .login__icon {
    color: rgba(16, 115, 5, 1);
}

.login__button:hover .login__desc {
    color: rgba(16, 115, 5, 1);

}




.register__icon,
.login__icon {
    font-size: 10rem;
    color: white;
}



.register__desc,
.login__desc {
    font-family: 'Space Mono', monospace;
    color: white
}

/* register form */

.register-form,
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: auto;
    height: 550px;
    justify-content: center;
    background-color: black;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    color: white;
    align-items: center;
    font-size: 2rem;
    -webkit-box-shadow: 4px 4px 15px 1px #000000;
    box-shadow: 4px 4px 15px 1px #000000;

}

#login,
#password {
    width: 20rem;
    height: 3rem;
    background-color: white;
    border: none;
    margin: 10px 0 10px 0;
    font-size: 3rem;
    border-radius: 10px;
}

#login:focus,
#password:focus {
    box-shadow: 0px 0px 5px 5px rgba(16, 115, 5, 1);

}

#register-form__submit {
    font-size: 16px !important;
    height: 60%;
    padding: 10px;
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}


.skull {
    height: 150px;
}

.loginAfterRegister {

    display: block;
    font-size: 16px;
    text-decoration: none;
    color: white;
    height: 3rem;
    border: 2px solid white;
    padding: 10px;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    margin: 10px;

}

.login-form__buttons,
.register-form__buttons {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 330px;
}

.login-form__buttons {
    width: 250px;
}




.back-link {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: white;
    height: 60%;
    border: 2px solid white;
    padding: 10px;
    font-family: 'Space Mono', monospace;
}



#login-form__submit {
    font-size: 16px !important;
    height: 60%;
    padding: 10px;
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}



#register-form__submit:hover,
#login-form__submit:hover,
.back-link:hover,
.loginAfterRegister:hover {
    box-shadow: 0px 0px 5px 3px rgba(16, 115, 5, 1);
}

.title {
    font-size: 42px;
    color: rgba(16, 115, 5, 1);
    font-weight: 800;
    margin-bottom: 2rem;
}

.red-alert {
    display: block;
    width: 60%;
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 2rem;
}

.green-alert {
    display: block;
    width: 70%;
    text-align: center;
    color: green;
    font-size: 20px;
    margin-top: 2rem;
}

.loading {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;


}

.loading__stage {
    margin-top: 1.5rem;
}

/* Animation of loading */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Shop.html*/
.front-page__shop {
    background-color: #0C0C0C;
    color: white;
}

.shop-container {
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas:
        "bar bar"
        "categories shop";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 500px 1fr;

}


/* Górny pasek */
.shop-container__bar {


    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #050505;
    width: 100%;
    display: inline-flex;
    color: white;
    align-items: center;
    border-bottom: 4px solid #1a1919;
    justify-content: space-around;
    height: 60px;

}

.shop-container__logout {
    height: 40px;
    width: 100px;
    border: 2px solid white;
    background-color: black;
    color: white;

}



.basket__icon {
    font-size: 30px;
}


/* Kategorie broni */
.shop-container__categories {
    grid-area: categories;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 3px 3px 3px 0px black;


}

.shop-container__categories>a>button {
    display: block;
    width: 100%;
}

/* .categories__title {
    text-align: center;
    font-size: 28px;
    margin: 4rem 0 4rem 0;
    color: green;
} */

.bg-rifle {
    height: 200px;
    background-image: url('../images/rifleshop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0.5);
    position: relative;
}

.bg-title {

    width: 100%;
    text-align: center;
    font-size: 24px;
    background-color: gainsboro;
    color: black;
}



.type {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: 0.2;
    height: 4rem;
    border-bottom: 1px solid gainsboro;
}

.type:hover {
    background-color: #F4BC2A;
    color: black;
}



.shop-container__items {
    grid-area: shop;
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 300px);
    column-gap: 20px;
    row-gap: 20px;



}

.shop-container__single-item {

    -webkit-box-shadow: 0px 1px 8px 4px #2D2D2D;
    box-shadow: 0px 1px 8px 4px #2D2D2D;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    transition: .2s all ease-in-out;
    cursor: pointer;


}

.shop-container__single-item:hover>img {

    transform: scale(1.1);

}

.shop-container__single-item__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    justify-content: space-around;
}

.single-item__title {
    font-size: 24px;
}

.single-item__price {
    font-size: 20px;
}

.shop-container__single-item img {
    object-fit: contain;
    height: 150px;
}

.buy {
    border: 2px solid #bd9228;
    background-color: #F4BC2A;
    height: 50px;
    width: 100px;
    text-transform: uppercase;
    font-size: 22px;
    color: black;
    font-weight: bold;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.buy:hover {
    background-color: #d39e18;

}


.single-item__desc {
    font-size: 12px;
    text-align: justify;

}